.paginaRegistro {
    height: 100%;
  }
  ion-toolbar {
    --background: #57C5B6 !important;
  }
  ion-item{
    --background: #57c5b680 !important;
  }
  .formulario {
    background-color: rgba(11, 112, 206, 0.349);
    border-radius: 15px;
    padding: 30px;
    margin: 20px auto 0;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  ion-icon {
    color: #7e3535;
  }
  
  ion-input {
    font-size: 16px;
  }
  
  .Registro {
    margin-top: 20px;
    --background: #fa6e6e;
  }
  
  .registrase {
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
  }
  
  .registrase a {
    color: #fa6e6e;
    text-decoration: none;
  }
  
  @media only screen and (max-width: 480px) {
    .form-background {
      width: 90%;
    }
  }
  ion-content {
    background-image: url('/assets/icon/fondo.jpg');
    background-size: cover;
    background-position: center center;
  }
  .cabecera {
    --background: transparent;
    --border-color: transparent;
    --color: #fff;
    position: relative;
    padding: 0;
  }
  
  .tituloCabecera {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    text-shadow: 2px 2px #727272;
  }
  
  .animated {
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  
  @keyframes bounceInDown {
    0% {
      transform: translate3d(0, -100%, 0);
    }
  
    60% {
      opacity: 1;
      transform: translate3d(0, 25%, 0);
    }
  
    75% {
      transform: translate3d(0, -10%, 0);
    }
  
    90% {
      transform: translate3d(0, 5%, 0);
    }
  
    100% {
      transform: none;
    }
  }
  
  .bounceInDown {
    animation-name: bounceInDown;
  }
  