<app-cabecera></app-cabecera>
<ion-content>
  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6" size-lg="6" size="6">
        <ion-card ion-button class="card-link"  >
          <img src="assets/icon/IA.jpg" />
          <ion-card-header style="background-color: #3c83d4;">
            <ion-card-title>IA</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size-md="6" size-lg="6" size="6">
        <ion-card ion-button class="card-link">
          <img src="assets/icon/tiktaktoeJCJ.jpg" />
          <ion-card-header style="background-color: #3c83d4;">
            <ion-card-title>LOCAL</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<app-pie></app-pie>
