ion-card {
    --background: #3c83d4;
    --color: #00574a;
  }
  
  ion-card-title {
    --color: #006354;
  }
  
  ion-card-subtitle {
    --color: #d1fff8;
  }
  ion-content {
    --background: #159895;
  }
.botonColor{
    --background: #159895;
}