<app-cabecera [ex]="excluido"></app-cabecera>
<ion-content>
  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6" size-lg="6" size="6">
        <ion-card ion-button class="card-link"  (click)="ajedrez()">
          <img src="assets/icon/pexels-pixabay-260024.jpg" />
          <ion-card-header style="background-color: #3c83d4;">
            <ion-card-title>Ajedrez</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size-md="6" size-lg="6" size="6">
        <ion-card ion-button class="card-link" [disabled]="true" (click)="tresEnRaya()">
          <img src="assets/icon/Tic_tac_toe.svg.png" />
          <ion-card-header style="background-color: #3c83d4;">
            <ion-card-title>3 en raya</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size-md="6" size-lg="6" size="6">
        <ion-card ion-button class="card-link" [disabled]="true" (click)="damas()">
          <img src="assets/icon/pexels-roman-kaiuk🇺🇦-3997813.jpg" />
          <ion-card-header style="background-color: #3c83d4;">
            <ion-card-title>Las damas</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size-md="6" size-lg="6" size="6">
        <ion-card ion-button class="card-link" [disabled]="true" (click)="continuara()">
          <img src="assets/icon/pexels-fernando-arcos-211122.jpg" />
          <ion-card-header style="background-color: #3c83d4;">
            <ion-card-title>Continuará...</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<app-pie></app-pie>