.board {
    width: 40vw;
    height: 40vw;
    table-layout: fixed;
    border-collapse: collapse;
    margin: auto;
    margin-top: 1%;
  }
  
  td {
    width: 65px;
    height: 65px;
    box-sizing: border-box;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    
  }
  
  td.white {
    background-color: white;
  }
  
  td:not(.white) {
    background-color: #a55403;
  }
  .selected {
    background-color: yellow;
  }

  .pieza{
    height: 60px;
    width: 60px;
  }
  .cursor{
    cursor: pointer;
  }

  .imgPiezas {
 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .posibilidades{
    filter: brightness(0.7);
    cursor: pointer;
    
  }
