.board {
    width: fit-content;
    height: auto;
    table-layout: fixed;
    border-collapse: collapse;
    margin: auto;
    margin-top: 1%;
  }

  .board tr{
    width: 100%;
  }

  ion-content {
    background-image: url('/assets/icon/fondo.jpg');
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
  }

  .cosasDelBoton{
    text-align: center;
    margin-top: 10px;
  }

  td {
    width: 65px;
    height: 65px;
    box-sizing: border-box;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    
  }
  
  td.white {
    background-color: white;
  }
  
  td:not(.white) {
    background-color: #a55403;
  }
  .selected {
    background-color: yellow;
  }

  .pieza{
    height: 60px;
    width: 60px;
  }
  .cursor{
    border: 2px solid yellow;
    cursor: pointer;
  }

  .anularEventos{
    pointer-events:none;
  }

  .imgPiezas {
 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .posibilidades{
    filter: brightness(0.7);
    cursor: pointer;
    
  }
  @media only screen and (max-width: 1000px) {
    .board {
      width: 60vw;
      height: 60vw;
      margin-top: 5%;
    }
  
    td {
      width: 10vw;
      height: 10vw;
      font-size: 0.8em;
      padding: 0;
    }
  
    .pieza {
      height: 9vw;
      width: 9vw;
    }
  }

  @media only screen and (max-width: 767px) {
    .board {
      width: 80vw;
      height: 80vw;
      margin-top: 5%;
    }
  
    td {
      width: 10vw;
      height: 10vw;
      font-size: 0.8em;
      padding: 0;
    }
  
    .pieza {
      height: 9vw;
      width: 9vw;
    }
  }
  