<app-cabecera></app-cabecera>
<ion-header>
    <ion-toolbar>
        <ion-title>
            Tablero de Ajedrez
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <table class="board">
        <tr *ngFor="let row of rows; let i = index">
          <ng-container *ngFor="let col of cols; let j = index">
            <td [id]="nombreCasilla" [class.white]="isWhite(row, col)" >
                <img (click)="casilla($event)" *ngIf="piezas[i][j]" class="back" [id]="idPieza | json" class="pieza" src="../../../assets/piezas/{{piezas[i][j]}}.png" alt="{{piezas[i][j]}}">
            </td>
          </ng-container>
        </tr>
      </table>
</ion-content>
<app-pie></app-pie>