<ion-header class="cabecera">
  <ion-toolbar>
    <ion-title class="tituloCabecera animated bounceInDown">Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="paginaLogin">
  <div class="formulario">
    <ion-item lines="none">
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-input type="email" name="email" placeholder="Email"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-input type="password" name="password" placeholder="Contraseña"></ion-input>
    </ion-item>
    <ion-button expand="block" color="primary" class="IniciarSesion" (click)="login()">Ingresar</ion-button>
  </div>
  <div class="registrase">
    <p>¿Necesitas una cuenta? <a (click)="registro()">Registrarse</a></p>
  </div>
</ion-content>

