<ion-grid *ngIf="nombre === 'ajedrez'" fixed>
  <ion-row class="ion-justify-content-center">
    <ion-col size-md="6" size-lg="6" size="6">
      <ion-card ion-button class="card-link">
        <img src="assets/icon/pexels-pixabay-260024.jpg" />
        <ion-card-header style="background-color: #3c83d4;">
          <ion-card-title>Contra la IA</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col size-md="6" size-lg="6" size="6">
      <ion-card ion-button class="card-link">
        <img src="assets/icon/pexels-pixabay-260024.jpg" />
        <ion-card-header style="background-color: #3c83d4;">
          <ion-card-title>2 jugadores</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid *ngIf="nombre === 'tresEnRaya'" fixed>
  <ion-row class="ion-justify-content-center">
    <ion-col size-md="6" size-lg="6" size="6">
      <ion-card ion-button class="card-link">
        <img src="assets/icon/Tic_tac_toe.svg.png" />
        <ion-card-header style="background-color: #3c83d4;">
          <ion-card-title>Contra la IA</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col size-md="6" size-lg="6" size="6">
      <ion-card ion-button class="card-link">
        <img src="assets/icon/Tic_tac_toe.svg.png" />
        <ion-card-header style="background-color: #3c83d4;">
          <ion-card-title>2 Jugadores</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid *ngIf="nombre === 'damas'" fixed>
  <ion-row class="ion-justify-content-center">
    <ion-col size-md="6" size-lg="6" size="6">
      <ion-card ion-button class="card-link">
        <img src="assets/icon/Tic_tac_toe.svg.png" />
        <ion-card-header style="background-color: #3c83d4;">
          <ion-card-title>Contra la IA</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col size-md="6" size-lg="6" size="6">
      <ion-card ion-button class="card-link">
        <img src="assets/icon/Tic_tac_toe.svg.png" />
        <ion-card-header style="background-color: #3c83d4;">
          <ion-card-title>2 Jugadores</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid *ngIf="nombre === 'continuara'" fixed>
  <ion-row class="ion-justify-content-center">
    <ion-col size-md="6" size-lg="6" size="6">
      <ion-card ion-button class="card-link">
        <img src="assets/icon/Tic_tac_toe.svg.png" />
        <ion-card-header style="background-color: #3c83d4;">
          <ion-card-title>Contra la IA</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col size-md="6" size-lg="6" size="6">
      <ion-card ion-button class="card-link">
        <img src="assets/icon/Tic_tac_toe.svg.png" />
        <ion-card-header style="background-color: #3c83d4;">
          <ion-card-title>2 Jugadores</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid *ngIf="nombre === '' || nombre === undefined">
</ion-grid>