.cursorEvent{
    cursor: pointer;
    background-color:  #3c83d4;
}
.cursorEvent ion-item{
    --background: #3c83d4;
}

.cursorEvent ion-label{
    color: white;
    font-weight: bold;
}
.tituloCabecera {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    text-shadow: 2px 2px #727272;
  }
  .volver{
    color: #000000;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    text-shadow: 2px 2px #727272;
  }