<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons *ngIf="ex !== 'inicio'" slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="background-color: #57C5B6;">
      Chess199
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openMenu($event)">
        <ion-icon slot="icon-only" name="menu-outline" color="dark"></ion-icon>
      </ion-button>
      <ion-popover [isOpen]="isPopoverOpen" #menu (didDismiss)="isPopoverOpen = false" mode="md">
        <ng-template>
          <ion-list class="cursorEvent">
            <ion-item (click)="cuenta()">
              <ion-label>Cuenta</ion-label>
              <ion-icon slot="end" name="person-outline" color="dark"></ion-icon>
            </ion-item>
            <ion-item (click)="ajustes()">
              <ion-label>Ajustes</ion-label>
              <ion-icon slot="end" name="settings-outline" color="primary"></ion-icon>
            </ion-item>
            <ion-item (click)="cerrarSesion()">
              <ion-label>cerrar sesion</ion-label>
              <ion-icon slot="end" name="log-out-outline" color="danger"></ion-icon>
            </ion-item>
            <ion-item (click)="acercaDe()" >
              <ion-label>Acerca de</ion-label>
              <ion-icon slot="end" name="alert-circle-outline" color="primary"></ion-icon>
            </ion-item>
          </ion-list>
        </ng-template>
      </ion-popover>
    </ion-buttons>
  </ion-toolbar>
</ion-header>